/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root{
 --bg-image: url("../images/cover-image.png");
 --bg-color: #202753;
 --font-family: "IBM Plex mono", sans-serif;
 --accent-color: #FF0070 ;
 --h-text: #DB00FF;
 --text-color: #F1B2CE;
 --сolor-headlines: #000;
}

:root.theme-dark .decoration::before {
  color: var(--accent-color);
}

:root.theme-dark .decoration::after {
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  background-color: var(--accent-color, #FF0070);
}

:root.theme-dark .header__theme-menu-button:hover {
  border: solid 1px var(--accent-color, #FF0070);
}