/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --h-text: #ffc2e6;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --сolor-headlines: #353430;
}

:root.theme-light .decoration::before {
  color: transparent;
}

:root.theme-light .decoration::after {
  background-color: transparent;
  box-shadow: none;
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgb(53 52 48 / 0.5);
}

/* Style_light */

@media (prefers-color-scheme: light) {

  :root.theme-light {
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --h-text: #ffc2e6;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --сolor-headlines: #353430;
  }

  :root.theme-light .decoration::before {
    color: transparent;
  }

  :root.theme-light .decoration::after {
    background-color: transparent;
    box-shadow: none;
  }

  :root.theme-light .header__theme-menu-button:hover {
    border: 1px solid rgb(53 52 48 / 0.5);
  }
}