/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-color, #202753);
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  font-size: 18px;
  font-weight: 400; 
}

/* header */
.header {
  display: grid;
  min-block-size: 668px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%; 
  height: 100vh;
  min-height: 768px;
  padding: 20px;
  margin-block-end: 60px;
}

.header__theme-menu {
  justify-self: center;
  grid-row: 1;
  grid-column: 1;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  font-weight: 400;
  line-height: 100%;
  padding: 1.5px 13px 1.5px 13px;
  text-transform: lowercase;
  color: var(--title-color, #FF0070);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--accent-border-color, rgb(255 0 112 / 0.4));
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color, #FF0070);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color, #FF0070);
  cursor: default;
  pointer-events: none;
}

.header__text_title {
  position: relative;
  font-weight: 700;
  align-self: center;
  justify-self: end;
  background-color: var(--accent-color, #FF0070);
  color: var(--сolor-headlines, #000028);
  font-weight: bold;
  max-width: 50%;
  font-size: 18px;
}

.header__title {
  font-weight: 700;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 100%;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  color: var(--header-text, #DB00FF);
  margin: -2%;
  max-width: 100%;
}

/* decoration */
.decoration {
  position: absolute;
  top: 20px;
  right: 20px;
}

.decoration::before {
  position: absolute;
  content: "REC";
  text-transform: uppercase;
  text-align: center;
  color: var(--point-color);
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  right: 28px;
}

.decoration::after {
  position: absolute;
  content: "";
  top: 8px;
  right: 10px;
  border-radius: 60%;
  box-shadow: var(--point-box-shadow);
  background-color: var(--point-color);
  min-height: 9px;
  min-width: 9px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-inline-end: 1px solid var(--corner-color, #FF0070);
  border-block-start: 1px solid var(--corner-color, #FF0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 25px;
  height: 26px;
  left: 20px;
  border-inline-start: 1px solid var(--corner-color, #FF0070);
  border-block-end: 1px solid var(--corner-color, #FF0070);
} 

/* main*/
.main {
  display: grid;
  padding: 0px 20px
}

.content_section {
  display: grid;
  grid-template-columns: minmax(236px, 1fr) 2fr;
  column-gap: 10px;
  row-gap: 20px;
}

.content__title_title {
  background-color: var(--accent-color, #FF0070);
  color: var(--сolor-headlines, #000028);
  font-weight: bold;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  font-size: 18px;
}

.subtitle {
  font-weight: 400;
}

.content__title {
  color: var(--title-color, #FF0070);
  font-size: 18px;
  grid-column: 1;
  grid-row: 1;
  font-weight: 700;
  line-height: 23.44px;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
}

.discription__content {
  font-weight: 400;
  color: var(--text-color, #F1B2CE);
  font-size: 18px;
  line-height: 23.44px;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
}

.text_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

.item {
  display: grid;
  gap: 10px;
}

.fokus__container, .concentrate__container, .gold_fish__container, .image__content {
  display: grid;
  gap: 20px;
}

.concentrate, .gold_fish, .image__content {
  margin-top: 80px;
}

/*В макете не указаны параметры тени на ссылках, если
я вновь указал не так, прошу прописать какие именно параметры*/

.text_link:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

.text_link:focus-visible {
  outline: 1px solid currentColor;
}

/* concentrate__container*/

.concentrate {
  grid-template-columns: auto;
}

.concentrate__container {
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.concentrate .content__title {
  max-width: 315px;
}

/* pictires*/

.have_pictures {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.section__image {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__image:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}

.section__image:nth-of-type(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.section__image:nth-of-type(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}

.section__image:nth-of-type(4) {
  grid-column: 2;
  grid-row: 2;
}

.section__image:nth-of-type(5) {
  grid-column: 2 / 4;
  grid-row: 3;
}

/* footer*/

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 768px;
  margin-top: 60px;
}

.footer__title {
  font-weight: 700;
  font-size: 157px;
  line-height: 82.5%;
  font-family: var(--font-family, "IBM Plex mono", sans-serif);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  color: var(--header-text, #DB00FF);
}

.decorated-zone {
  position: relative;
}

/* media*/
/*(width < 768px)*/

@media (width < 768px) {

  .header {
    padding: 10px;
    block-size: max(100vh, 668px);
    margin-block-end: 30px;
    min-height: 668px;
  }
  
  .header__text_title {
    max-width: 355px;
    inline-size: 100%;
    top: 0px;
    justify-self: center;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 0;
    line-height: 82.5%;
  }

  .fokus.content_section, .gold_fish.content_section {
    grid-template-columns: none;
  }

  .concentrate__container {
    grid-template-columns: 1fr;
  }

  .section__image:nth-of-type(1), 
  .section__image:nth-of-type(2),
  .section__image:nth-of-type(3),
  .section__image:nth-of-type(4),
  .section__image:nth-of-type(5) {
    grid-column: 1;
    grid-row: auto;
  }

  .main {
    padding: 10px;
  }

  .concentrate, .gold_fish, .image__content {
    margin-top: 49px;
  }

  .image__content, .have_pictures{
    gap: 10px;
  }

  .decoration::before {
    right: 19px;
    top: -10px;
  }

  .decoration::after {
    top: -2px;
    right: -1px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .footer {
    block-size: max(100vh, 668px);
    padding: 10px 20px;
    margin-top: 30px;
    min-height: 668px;
    }

  .footer__title {
    font-size: 116px;
  }
}

/*общий media запрос */

@media (max-width: 1023px){
   .header__theme-menu {
    align-self: center;
    justify-self: end;
    min-height: 98px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px ;
  }
}

/*(min-width: 768px) and (max-width: 1024px) */

@media (min-width: 768px) and (max-width: 1023px) {
  .header__theme-menu {
    position: relative;
    padding-bottom: 12px;
    }

  .header__text_title {
    max-width: 364px;
    margin-top: 10px;
  }
  .fokus .content__title {
    max-width: 236px;
  }

  .fokus__container {
    max-width: 472px;
  }

  .concentrate .content__title {
    max-width: 236px;
  }

  .concentrate__container {
    display: grid;
    grid-template-columns: none;
  }

  .gold_fish.content_section, .fokus.content_section {
    gap: 20px;
  }

  .footer__title {
    font-size: 120px;
  }

  .header__title{
    margin: -3%;
  }

  .header, .footer {
    min-height: 1024px;
  }
}









