/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #202753;
  --font-family: "IBM Plex mono", sans-serif;
  --accent-color: #FF0070 ;
  --accent-border-color: rgb(255 0 112 / 0.4);
  --border-fokus: #FF0070;
  --header-text: #DB00FF;
  --text-color: #F1B2CE;
  --сolor-headlines: #000028;
  --corner-color: var(--accent-color);
  --title-color: #FF0070;
  --border-color: #FF0070;
  --point-color: #FF0070;
  --point-box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}
